body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* * {
  outline: 1px solid red;
} */

h1 {
  font-size: 40px;
  margin: 40px 0 0;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-books {
  width: 95%;
  margin: 10px auto;
}

p {
  margin-bottom: 0;
}

.input-fields {
  padding: 10px 0;
}

.display {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.display:nth-child(odd) {
  background-color: lightgray;
}

.remove-btn {
  border: 2px solid black;
  background-color: #fff;
  padding: 0.2rem 0.3rem;
  margin: 4px 2px;
}

header {
  border: 3px solid black;
  margin: 10px 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

nav > a {
  margin-left: 40px;
}

.nav-ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-right: 60px;
}

nav > ul li {
  cursor: pointer;
}

nav > ul li:nth-child(even) {
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 0 8px;
}

span {
  position: absolute;
  margin-bottom: 15px;
  right: 20px;
}

footer {
  border: 2px solid black;
  margin: 40px 40px 0 40px;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section {
  display: none;
}

.section.show {
  display: flex;
  flex-direction: column;
}

.list-books {
  display: flex;
  flex-direction: column;
}

.list-books.show {
  display: none;
}
